@font-face {
  font-family: 'opensansregular';
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-base-100: 13px;
  --text-base-200: 14px;
  --text-base-300: 16px;
  --text-base-400: 18px;
  --color-dark-gray: #64748b;
  --color-sky-100: #f0f9ff;
  --color-sky-200: #e0f2fe;
  --hover-gray: #475569;
  --text-dark: #334155;
  --outline: 0.5rem solid rgba(255, 255, 255, 0.342);
  --padding: 2rem;
  --transition-duration: 0.15s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}

html {
  font-size: var(--text-base-100);
  font-family: opensansregular, sans-serif, system-ui;
  color: var(--text-dark);
}

body {
  background: linear-gradient(to top right, #7dd3fc, #a5f3fc);
}

main {
  width: clamp(360px, 80vw, 680px);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.today-card {
  width: 100%;
  background-color: var(--color-sky-100);
  margin-block: 2.5rem;
  padding: var(--padding);
  pointer-events: none;
  user-select: none;
  text-wrap: nowrap;
}

.current-info {
  position: relative;
  padding-top: 0.5rem;
}
.current-info p:first-child {
  font-size: 3.75rem;
  line-height: 1;
}
.current-info p:last-child {
  color: var(--color-dark-gray);
}
.current-info img {
  position: absolute;
  right: -4%;
  height: 100px;
}

.hourly-info {
  margin-top: 3.5rem;
  grid-auto-flow: column;
}
.hour-card img {
  height: 50px;
}
.hour-card p:first-child {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
}
.hour-card p:nth-child(3) {
  padding-top: 0.25rem;
}
.hour-card p:last-child {
  color: var(--color-dark-gray);
}
.hour-card p:nth-child(3),
.hour-card p:last-child {
  font-size: 0.875rem;
  line-height: 1rem;
}

.forecast-card {
  width: 100%;
  row-gap: 1rem;
  background-color: var(--color-sky-100);
  padding: var(--padding);
}
.forecast button {
  width: 100%;
  column-gap: 1rem;
  border: 0;
  color: var(--text-dark);
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-wrap: nowrap;
  background-color: var(--color-sky-100);
  transition-duration: var(--transition-duration);
}
.forecast button:hover {
  background-color: var(--color-sky-200);
  cursor: pointer;
}
.forecast img {
  height: 40px;
}
.precipitation {
  grid-template-columns: 4ch max-content;
}

footer {
  text-align: center;
  padding: 1.5em;
}
footer p a {
  position: relative;
  color: var(--text-dark);
  text-decoration: none;
  transition-duration: var(--transition-duration);
}
footer p a:hover {
  color: var(--hover-gray);
}
footer p a:hover::after {
  position: absolute;
  content: '↗';
  margin-left: 0.2em;
}

.fa-github {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-sky-100);
  transition-duration: var(--transition-duration);
}
.fa-github:hover {
  filter: drop-shadow(0 0 0.95rem #38bdf8);
}

@media (min-width: 400px) {
  .outline {
    outline: var(--outline);
    border-radius: 0.5rem;
  }

  html {
    font-size: var(--text-base-200);
  }

  .current-info img {
    height: 130px;
  }
}

@media (min-width: 500px) {
  html {
    font-size: var(--text-base-300);
  }

  .forecast img {
    height: 50px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: var(--text-base-400);
  }

  .current-info img {
    height: 160px;
  }

  .forecast img {
    height: 60px;
  }
}
