@font-face {
  font-family: 'opensansregular';
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --border-radius: 0.5rem;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --color-dark-gray: #64748b;
  --color-red-500: #ef4444;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --hover-gray: #475569;
  --outline: 0.5rem solid rgba(255, 255, 255, 0.342);
  --padding: 2rem;
  --text-base-100: 14px;
  --text-base-200: 16px;
  --text-base-300: 18px;
  --text-dark: #334155;
  --text-sm: 0.875rem;
  --text-md: 1.125rem;
  --text-lg: 2rem;
  --text-xl: 3.75rem;
  --transition-duration: 0.15s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}
.none {
  display: none;
}
.outline {
  outline: var(--outline);
  border-radius: var(--border-radius);
}
@keyframes pulse {
  from {
    opacity: 100%;
  }
  to {
    opacity: 75%;
  }
}
.pulse {
  animation: pulse 0.6s alternate infinite;
  user-select: none;
}

html {
  font-size: var(--text-base-100);
  font-family: opensansregular, sans-serif, system-ui;
  color: var(--text-dark);
}

body {
  background: linear-gradient(to top right, #7dd3fc, #a5f3fc);
}

main,
footer {
  width: clamp(360px, 80vw, 680px);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.error {
  position: fixed;
  top: 0.5%;
  color: var(--color-red-500);
  text-wrap: nowrap;
}

.search {
  margin-top: 2.5rem;
  position: relative;
  box-shadow: var(--box-shadow);
}

.loader {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  margin-top: 2.5rem;
  --c: no-repeat linear-gradient(#7dd3fc 0 0);
  background: var(--c), var(--c), var(--color-sky-100);
  background-size: 60% 100%;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}

form {
  flex: 1;
}
.search-input {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.search-input:focus {
  outline: 0;
  background-color: var(--color-sky-50);
}
.search-input,
.search-btn,
.toggle-unit {
  border: 0;
  padding: 1rem;
}
.search-btn,
.toggle-unit {
  background-color: white;
  transition-duration: var(--transition-duration);
}
.toggle-unit {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.search-btn:hover,
.toggle-unit:hover {
  background-color: var(--color-sky-100);
}
.search-btn:active,
.toggle-unit:active {
  background-color: var(--color-sky-200);
}
.search-btn:disabled:hover,
.search-btn:disabled:active {
  background-color: white;
}
.search-btn img {
  user-select: none;
  height: 20px;
}

.today-card {
  width: 100%;
  background-color: white;
  margin-top: 2.5rem;
  padding: var(--padding) var(--padding) 0 var(--padding);
  user-select: none;
  text-wrap: nowrap;
  box-shadow: var(--box-shadow);
}
.current-info {
  position: relative;
  padding-top: 0.5rem;
}
.temp {
  font-size: var(--text-xl);
  line-height: 1;
}
sup {
  font-size: var(--text-lg);
}
.date,
.feels-like,
.location,
.condition,
.humidity,
.rain-probability {
  color: var(--color-dark-gray);
}
.humidity,
.rain-probability {
  text-align: right;
}
.condition,
.location {
  margin-bottom: 1.5rem;
}
.current-icon {
  position: absolute;
  top: -10px;
  right: -4%;
  height: 130px;
}

.hourly-info {
  column-gap: 2.5rem;
  margin-top: 3.5rem;
  padding-bottom: var(--padding);
  overflow-x: auto;
  overflow-y: hidden;
}
.hour-card img {
  height: 50px;
}
.hour-card p:first-child {
  font-size: var(--text-md);
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
}
.hour-card p:nth-child(3) {
  padding-top: 0.25rem;
}
.hour-card p:last-child {
  color: var(--color-dark-gray);
}
.hour-card p:nth-child(3),
.hour-card p:last-child {
  font-size: var(--text-sm);
  line-height: 1rem;
}

.forecast-card {
  width: 100%;
  row-gap: 1rem;
  background-color: white;
  margin-block: 2.5rem;
  padding: var(--padding);
  box-shadow: var(--box-shadow);
}
.forecast {
  width: 100%;
  grid-template-columns: 17ch 1fr minmax(max-content, 140px) max-content;
  column-gap: 0.5rem;
  color: var(--text-dark);
  font-size: var(--text-sm);
  line-height: 1.75rem;
  text-wrap: nowrap;
  transition-duration: var(--transition-duration);
}
.forecast .forecast-date {
  justify-self: start;
}
.forecast img {
  height: 40px;
}
.forecast .condition-icon {
  justify-self: center;
}
.rain-probability-cell {
  grid-template-columns: 4ch max-content;
  justify-self: right;
}
.rain-probability-cell span {
  justify-self: right;
}
.rain-probability-cell img {
  height: 40px;
}
.forecast .forecast-low-high-temp {
  justify-self: end;
}

footer {
  position: relative;
  background-color: white;
  margin-bottom: 2.5rem;
  padding: 1.5em;
  font-size: var(--text-sm);
  overflow: hidden;
}

footer p a {
  position: relative;
  color: var(--text-dark);
  transition-duration: var(--transition-duration);
}
footer p a:hover {
  color: var(--hover-gray);
}
footer p a:hover::after {
  position: absolute;
  content: '↗';
  margin-left: 0.2em;
}

@media (min-width: 510px) {
  html {
    font-size: var(--text-base-200);
  }

  .forecast img {
    height: 50px;
  }
}

@media (min-width: 670px) {
  html {
    font-size: var(--text-base-300);
  }

  .current-info .current-icon {
    height: 160px;
  }

  .forecast {
    font-size: var(--text-md);
  }

  .forecast img {
    height: 60px;
  }
}
